<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fozg.DataController.Properties.Settings.NoithatccConnectionString"
            connectionString="Data Source=.;Initial Catalog=Noithatcc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fozg.DataController.Properties.Settings.maizuhqj_ntzConnectionString"
            connectionString="Data Source=103.48.81.21;Initial Catalog=maizuhqj_ntz;User ID=maizuhqj_sa;Password=tjNu*917"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Fozg.DataController.adService">
                <endpoint address="" binding="basicHttpBinding" contract="Fozg.DataController.IadService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Fozg.DataController/adService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>